@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

html {
  background-color: rgb(245 245 245);
  font-family: 'Montserrat', sans-serif;
}
.app {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  display: block;
  max-width: 350px;
  background-color: #ffffff;
  padding: 50px;
  width: 350px;
  position: fixed;
  min-height: 100%;
  float: none;
  overflow: auto;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-row-gap: normal;
}
.graph-body {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
  grid-row-gap: normal;
}
.card {
  flex: 1 1 21rem;
  flex-direction: column;
  break-inside: avoid;
  display: flex;
  flex-wrap: wrap;
  margin: 1px;
  transition: all 0.5s ease;
  padding: 10px 2px;
}
.input {
  margin: 25px 0 15px;
  display: inline-block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: rgb(65, 65, 65);
}
div.content {
  overflow: auto;
  width: 100%;
  padding: 1px 16px;
  max-height: 100%;
  padding-bottom: 15px;
  position: relative;
}
.choices {
  max-width: 100%; 
  max-height: 150px; 
  overflow-y: scroll;
  font-size: 0.9em;
  padding: 10px;
}
.card:hover {
  transform: scale(1.025);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.name {
  color: rgb(105, 105, 105);
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 0.9em;
  font-weight: 500;
}
.menu-toggle {
  display: none;
  transition: all 0.5s ease;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 99px;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.button:hover {
  transform: scale(1.025);
}
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s cubic-bezier(0.24, 1, 0.32, 1);
  -webkit-transition: transform 0.3s cubic-bezier(0.24, 1, 0.32, 1);
}
.slide-enter,
.slide-leave-to {
  transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
}
@media (min-width:768px){
  .graph-body{
    margin-left:350px !important;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .sidebar .content .col-md-3 {
    flex: 0 0 auto;
    width: 200px;
  }
  .menu-toggle {
    display: block;
  }
  .content {
    padding-top: 8rem;
  }
  .sidebar {
    display: block;
    height: 100vh;
    width: 320px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  }
}
